<?php
use AramHamo\Mvc\Migration;
use AramHamo\Mvc\Schema;

$table = new class extends Schema{
  static function up(){
    $s = new Schema;
    $m = new Migration;
    $s->create('example_table',[
      $m->id(),
      $m->text("text_attr",16/* length */),
      $m->char("char_attr",16/* length */),
      $m->int("int_attr",16/* length */)
      ]);
  }
  static function down(){
    $this->dropIfExists('example_table');
  }
};
